<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Low Alloy Steels' Mechanical Properties Prediction</title>


    <!-- BootStrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">


    <!-- css -->
    <link rel="stylesheet" href="static/css/styles.css">


</head>

<body>

    <!-- As a heading -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Low Alloy Steels' Mechanical Properties Prediction</a>
            </div>
        </div>
    </nav>

    <br><br><br>


    <div class="container">



        <form action="\predict" method="post">


            <div class="row">
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Carbon Percentage</h5>
                            <!-- C -->
                            <input type="range" min="0.09" max="0.34" step="0.01" name="C" id="C" required="required">
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <br>
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Silicon Percentage</h5>
                            <!-- Si -->
                            <input type="range" min="0.18" max="0.52" step="0.01" name="Si" id="Si" required="required">
                        </div>
                    </div>
                </div>
            </div>

            <br>
            <br>
            <br>

            <div class="row">
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Manganese Percentage</h5>
                            <!-- Mn -->
                            <input type="range" min="0.42" max="1.48" step="0.01" name="Mn" id="Mn" required="required">
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Phosphorus Percentage</h5>
                            <!-- P -->
                            <input type="range" min="0.01" max="0.03" step="0.001" name="P" id="P" required="required">
                        </div>
                    </div>
                </div>
            </div>



            <br>
            <br>
            <br>

            <div class="row">
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Sulfur Percentage</h5>
                            <!-- S -->
                            <input type="range" min="0.00" max="0.02" step="0.001" name="S" id="S" required="required">
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Nickel Percentage</h5>
                            <!-- Ni -->
                            <input type="range" min="0.0" max="0.6" step="0.01" name="Ni" id="Ni" required="required">
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <br>

            <div class="row">
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Chromium Percentage</h5>
                            <!-- Chromium -->
                            <input type="range" min="0.00" max="1.31" step="0.01" name="Cr" id="Cr" required="required">
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Molybdenum Percentage</h5>
                            <!-- Molybdenum -->
                            <input type="range" min="0.01" max="1.35" step="0.01" name="Mo" id="Mo" required="required">
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <br>

            <div class="row">
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Copper Percentage</h5>
                            <!-- Copper -->
                            <input type="range" min="0.00" max="0.25" step="0.01" name="Cu" id="Cu" required="required">
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Vanadium Percentage</h5>
                            <!-- Vanadium -->
                            <input type="range" min="0.0" max="0.3" step="0.01" name="V" id="V" required="required">
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <br>

            <div class="row">
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Aluminium Percentage</h5>
                            <!-- Al -->
                            <input type="range" min="0.00" max="0.05" step="0.001" name="Al" id="Al" required="required">
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Nitrogen Percentage</h5>
                            <!-- N -->
                            <input type="range" min="0.0" max="0.01" step="0.001" name="N" id="N" required="required">
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <br>

            <div class="row">
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Carbon Equivalent Percentage</h5>
                            <!-- Ceq -->
                            <input type="range" min="0" max="0.44" step="0.01" name="Ceq" id="Ceq" required="required">
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Temperature(°C)</h5>
                            <!-- Temp -->
                            <input type="range" min="27" max="650" step="10" name="Temp" id="Temp" required="required">
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <br>

            <!-- Submit -->
            <input type="submit" value="Submit" class="btn btn-secondary">
        </form>

        <br>
        <br>
        <h3>{{ prediction_text }}</h3>

        <br>
        <br>
        <p>©2022 Samson Lo</p>

    </div>




    <!-- JavaScript -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>

</body>

</html>
